name: CI
on:
  push:
    branches: [master]
    tags: [v*]
  pull_request:

jobs:
  test:
    name: Julia ${{ matrix.julia-version }} - ${{ matrix.group }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: ["1.6", "1.8", "~1.9.0-0"]
        os: [ubuntu-latest, macOS-latest]
        group:
          - 'test_manifolds'
          - 'test_lie_groups'
          - 'test_integration'
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}
          arch: x64
      - uses: julia-actions/cache@v1
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
        env:
          PYTHON: ""
          MANIFOLDS_TEST_GROUP: ${{ matrix.group }}
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: false
        if: ${{ matrix.os =='ubuntu-latest' }}
