name: Nightly
on:
  pull_request:

jobs:
  test:
    name: Julia nightly - ${{ matrix.group }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        group:
          - 'test_manifolds'
          - 'test_lie_groups'
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: nightly
          arch: x64
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
        env:
          PYTHON: ""
          MANIFOLDS_TEST_GROUP: ${{ matrix.group }}
